<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latest Releases</title>
</head>
<body>
    <h1>Latest Releases</h1>
    <ul>
        {% for movie in latest_releases %}
            <li>
                <h2>{{ movie.title }}</h2>
                <p>{{ movie.description }}</p>
                <p>Release Date: {{ movie.release_date }}</p>
                <img src="{{ movie.poster.url }}" alt="{{ movie.title }} Poster">
            </li>
        {% endfor %}
    </ul>
</body>
</html>
